pipeline/pl_notification.json
{
	"name": "pl_notification",
	"properties": {
		"activities": [
			{
				"name": "lu_notification_vehicle",
				"description": " ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_notification]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schema": ".",
							"tablename": "."
						}
					}
				}
			},
			{
				"name": "if_send_notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lu_notification_vehicle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('lu_notification_vehicle').output.firstRow.trigger_notification_flag, 1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "wb_send_notification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://prod-21.northeurope.logic.azure.com:443/workflows/13f1e74dcef14b8ca2b51da5af27baa7/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=PgG8FWQird8VJWO4PSTVVUrKzlhRn3qHvU_F6UfJ4Ls",
								"body": {
									"value": "@concat('{\n    \"title\": \"Vehicles met notificatie-instelling zijn beschikbaar!\",\n    \"message\": \"'\n    , activity('lu_notification_vehicle').output.firstRow.trigger_notification_content\n    , '\",\n    \"color\": \"\",\n    \"dataFactoryName\": \"\",\n    \"pipelineName\": \"\",\n    \"pipelineRunId\": \"\",\n    \"time\": \"\"\n}')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-12T09:58:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}